<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Signup Page</title>

</head>

<body class="bg-[#FFEC9E]">
  <header class="">
    {% include 'home/base.html' %}
  </header>

  <div class="h-screen mt-24 flex items-center justify-center text-[#594100]">
    <div class="p-12 mt-24">
      <div class="bg-white border border-[#594100] px-12 py-4 rounded" style="width: 40vw;">
        <div class="p-4 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl text-center font-bold leading-tight tracking-tight md:text-2xl">
            สร้างบัญชีผู้ใช้ของคุณ
          </h1>
          <form class="space-y-4 md:space-y-6" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div>
              <label for="first_name" class="block text-sm font-medium">ชื่อ</label>
              <input type="text" id="first_name" name="first_name"
                class="mt-1 focus:ring-gray-300 focus:border-gray-300 block w-full sm:text-sm border border-[#594100] rounded p-2 px-4"
                placeholder="Jane">
            </div>
            <div>
              <label for="last_name" class="block text-sm font-medium">นามสกุล</label>
              <input type="text" id="last_name" name="last_name"
                class="mt-1 focus:ring-gray-300 focus:border-gray-300 block w-full sm:text-sm border border-[#594100] rounded p-2 px-4"
                placeholder="Doe">
            </div>
            <div>
              <label for="username" class="block text-sm font-medium">ชื่อผู้ใช้</label>
              <input type="text" id="username" name="username" required
                class="mt-1 focus:ring-gray-300 focus:border-gray-300 block w-full sm:text-sm border border-[#594100] rounded p-2 px-4"
                placeholder="Jane">
            </div>
            <div>
              <label for="email" class="block text-sm font-medium">อีเมล</label>
              <input type="email" id="email" name="email" required
                class="mt-1 focus:ring-gray-300 focus:border-gray-300 block w-full sm:text-sm border border-[#594100] rounded p-2 px-4"
                placeholder="email.example@co.th">
            </div>
            <div>
              <label for="password1" class="block text-sm font-medium">รหัสผ่าน</label>
              <input type="password" id="password1" name="password1" required
                class="mt-1 focus:ring-gray-300 focus:border-gray-300 block w-full sm:text-sm border border-[#594100] rounded p-2 px-4"
                placeholder="••••••••">
            </div>
            <div>
              <label for="password2" class="block text-sm font-medium">ยืนยันรหัสผ่าน</label>
              <input type="password" id="password2" name="password2" required
                class="mt-1 focus:ring-gray-300 focus:border-gray-300 block w-full sm:text-sm border border-[#594100] rounded p-2 px-4"
                placeholder="••••••••">
            </div>
            <button type="submit"
              class="w-full text-white bg-[#594100] focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded text-sm px-4 p-2 text-center">
              สร้างบัญชี
            </button>
            <p class="text-sm font-light text-gray-500">
              คุณมีบัญชีแล้ว? <a href="{% url 'login_user' %}"
                class="font-medium text-blue-600 hover:underline">เข้าสู่ระบบที่นี่</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>



  <script>
    const menuIcon = document.getElementById('menu-icon');
    const userMenu = document.getElementById('navbar-user');

    menuIcon.addEventListener('click', function () {
      userMenu.classList.toggle('hidden');
    });
  </script>

</body>

</html>