asgiref==3.7.2
cffi==2.0.0
cryptography==46.0.3
Django==5.0.2
et-xmlfile==1.1.0
MarkupSafe==3.0.3
mysqlclient==2.2.7
openpyxl==3.1.2
pillow==10.2.0
pycparser==2.23
python-dotenv==1.1.1
python-http-client==3.3.7
sendgrid==6.12.5
six==1.17.0
sqlparse==0.4.4
tzdata==2025.2
Werkzeug==3.1.3
