<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyUni | Event details</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/3.1.2/flowbite.js"
    integrity="sha512-c9m0HP/+jR+ZgMbKqLHtvn8nT0IiJiw0NhgSWedfZWi1QvGS39Kz2w4Sbo7rD1eYA+fm7ypCLNR0gbAJv2mHQA=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

  <style>
    nav {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 9999;
    }
  </style>
</head>

<body class="bg-[#FBF8EF]">
  <div class="min-h-screen">
    <nav class="px-6" style="font-family: 'Pacifico', cursive; ">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto mt-4 ">

        <a href="{% url 'home' %}" class="text-[#594100] flex items-center space-x-3 rtl:space-x-reverse">
          <span class="logo self-center text-2xl font-semibold whitespace-nowrap dark:text-white">MyUni</span>
        </a>

        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
          <button type="button"
            class="relative flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
            id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
            data-dropdown-placement="bottom">
            <span class="sr-only">Open user menu</span>
            <img class="w-12 h-12 rounded-full" src="{{ profile.profileimg.url }}" alt="{{ profile.user.username }}" />
            {% if unread_notifications_count %}
            {% if unread_notifications_count > 0 %}
              <span id="notify-count" class="absolute -top-1 -right-1 inline-flex items-center justify-center w-3 h-3 p-3 text-sm font-medium bg-red-600 text-white rounded-full">{{ unread_notifications_count }}</span>
            {% endif %}
            {% endif %}
          </button>

          <!-- Dropdown menu -->
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow-sm border border-[#594100] "
            id="user-dropdown">
            <div class="px-4 py-3 text-[#594100]">
              <a href="{% url 'profile' user.username %}">
                <span class="block text-md font-semibold">{{ profile.user.username }}</span>
              </a>
              <span class="block text-sm truncate">{{ profile.user.email }}</span>
            </div>
            <ul class="py-2 text-[#594100]" aria-labelledby="user-menu-button">
              <li>
                <a href="{% url 'notifications' %}" class="block px-4 py-2 text-sm hover:bg-[#ffec9e]"
                  style="text-decoration: none;" role="menuitem">
                  การแจ้งเตือน
                  {% if unread_notifications_count %}
                  <span
                    class="inline-flex items-center justify-center w-3 h-3 p-3 text-sm font-medium bg-red-600 text-white rounded-full">
                    {% if unread_notifications_count > 0 %}
                    {{ unread_notifications_count }}
                    {% endif %}
                  </span>
                  {% endif %}
                </a>
              </li>
              <li>
                <a href="{% url 'profile_settings' %}" class="block px-4 py-2 text-sm hover:bg-[#ffec9e]"
                  style="text-decoration: none;" role="menuitem">ตั้งค่าโปรไฟล์</a>
              </li>
              <li>
                <a href="{% url 'logout_user' %}" class="block px-4 py-2 text-sm hover:text-white hover:bg-red-600"
                  style="text-decoration: none;" role="menuitem">ออกจากระบบ</a>
              </li>

            </ul>
          </div>

        </div>

        <button data-collapse-toggle="navbar-user" type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-user" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>

        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
          <ul
            class="flex flex-col font-medium p-4 md:p-0 mt-4  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
            style="font-family: 'Pacifico' ">

            <li>
              <a href="{% url 'event_calendar' %}"
                class="block py-2 px-3 bg-white hover:bg-[#ffec9e] text-[#594100] border border-[#594100] rounded-md md:p-2">
                ปฏิทินกิจกรรม
                <i class="fa-solid fa-calendar-days"></i>
              </a>
            </li>

            {% if user.is_admin %}
            <li>
              <a href="{% url 'manage_accounts' %}"
                class="block py-2 px-3 bg-white hover:bg-[#ffec9e] text-[#594100] border border-[#594100] rounded-md md:p-2">
                จัดการบัญชีผู้ใช้
                <i class="fa-solid fa-user"></i>
              </a>
            </li>
            <li>
              <a href="{% url 'manage_posts' %}"
                class="block py-2 px-3 bg-white hover:bg-[#ffec9e] text-[#594100] border border-[#594100] rounded-md md:p-2">
                จัดการโพสต์
                <i class="fas fa-pencil-alt"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>



      </div>
    </nav>

    <!-- event details -->
    <div class="mt-8 px-6 flex flex-col text-[#594100]">

      <div class="clearfix mt-16">
        <div class="flex gap-6">
          <p class="text-2xl font-bold">{{ event.title }}</p>
          {% if user.is_authenticated and event.user == user %}
          <div class="flex gap-4">
            <a class="flex items-center" href="{% url 'event_edit' event.id%}">แก้ไข<i
                class="fas fa-edit text-sm"></i></a>
            <a class="flex items-center" href="{% url 'event-delete' event.id %}">นำออก<i
                class="fas fa-trash-alt text-sm"></i></a>
          </div>
          {% endif %}
        </div>
        <p class="pb-4 text-sm text-gray-500">เริ่ม <span class="">{{ event.start_date }}</span> 
          สิ้นสุด <span>{{event.end_date }}</span>
        </p>
        <hr class="my-2">
        <p class="py-2">{{ event.detail }}</p>
        {% if event.images.all %}
        <div class="p-4">
          {% for image in event.images.all %}
          <img src="{{ image.image.url }}" alt="Event image" class="w-full"
            style="max-height: 300px; max-width: 300px; object-fit: cover;">
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <hr class="my-4">

      <div class="flex justify-between items-center">
        <h4 class="text-lg font-semibold">สมาชิกในกิจกรรมนี้</h4>
        {% if user.is_authenticated and event.user == user %}
        <a class="p-2 flex gap-2 items-center" href="{% url 'add_event_member' event.id %}">
          <span>เพิ่มสมาชิก</span>
          <i class="fas fa-user-plus text-sm"></i>
        </a>
        {% endif %}
      </div>
      {% if eventmember %}
      <table class="w-auto divide-y divide-gray-200 border border-[#594100] my-4 mb-6">
        <thead class="bg-white">
          <tr>
            <th class="w-10 px-4 py-2 text-left text-base font-medium uppercase tracking-wider">ลำดับ</th>
            <th class="px-4 py-2 text-left text-base font-medium uppercase tracking-wider">ชื่อ</th>
            <th class="px-4 py-2 text-left text-base font-medium uppercase tracking-wider">อีเมลล์</th>
            <th class="px-4 py-2 text-left text-base font-medium uppercase tracking-wider">นำออก</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for member in eventmember %}
          <tr>
            <td class="px-4 py-2 whitespace-nowrap">{{ forloop.counter }}</td>
            <td class="px-4 py-2 whitespace-nowrap">{{ member.member.username }}</td>
            <td class="px-4 py-2 whitespace-nowrap">{{ member.member.email }}</td>
            <td class="px-4 py-2 whitespace-nowrap">
              {% if user.is_authenticated and event.user == request.user %}
              <a class="text-red-500 p-2 px-4" href="{% url 'remove_member' event.id member.member.id %}">
                <i class="fas fa-trash-alt text-sm"></i>
              </a>
              {% else %}
              <i class="fas fa-trash-alt text-sm text-gray-300 m-2 mx-4"></i>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="mt-4 text-center">ยังไม่มีสมาชิกในกิจกรรมนี้</p>
      {% endif %}

    </div>
  </div>


</body>

</html>